 {% extends 'music/base.html' %} 
 {% block title %} Music Website - Details {% endblock %}

 {% block body %}
    <div class="container">
        <div class="row">
           
           <div class="col-md-4">
            <h3 class="text-info">{{ album_details.album_title }} -  Album Details</h3>
            <br>

            <img src="{{ album_details.album_logo }}" width="300px" height="200px" >
           </div>
          <div class="col-md-8">
            <div class="container" style="background-color: white;">
              <h2>Song List</h2>
             <a href=""> <button> Add New Song</button></a>
             <a href=""> <button> View All</button></a>

              <table class="table">
                <thead>
                  <tr>
                    <th>Song Name</th>
                    <th>Artist Name</th>
                    <th>File Type</th>

                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>John</td>
                    <td>Doe</td>
                    <td>john@example.com</td>
                  </tr>
                  <tr>
                    <td>Mary</td>
                    <td>Moe</td>
                    <td>mary@example.com</td>
                  </tr>
                  <tr>
                    <td>July</td>
                    <td>Dooley</td>
                    <td>july@example.com</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>
    </div>
{% endblock %}