 {% extends 'music/base.html' %} 
 {% block title %} Music Website - Details {% endblock %}

 {% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="text-info">Music Album Detail</h3>
                <br>
 
                <img src="{{ album_details.album_logo }}">
                <h1>{{ album_details.album_title }}</h1>
                <ul>
                  {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                  <form action=" " method="post">
                  {% csrf_token %}
                  {% for song in album_details.song_set.all %}
                      <li>Song Title : {{ song.song_title }} --- Song File Type : {{ song.file_type }}</li>
                  
                      <br>
                      <input type="radio" name="song" value="{{ song.id }}" {% if song.is_favorite %} checked = 'true' {% endif %}>
                      <label >{{ song.song_title }}  --  --{% if song.favorite %} Favorite {% endif %} {% if song.is_favorite == True %}
                        {{ "********************" }}
                        {% endif %}
    </label><br>
                      
                      {% endfor %}
                  </ul>
                  <input type="submit" value="Vote">
                  </form>

              <br>
              </div>
           

        </div>
    </div>
{% endblock %}