{% extends 'music/base.html' %} 
{% block title %} Music Website - Home Page {% endblock %}
{% block body %}
    

    <div class="container">
        <h3 class="text-info">Music Album List</h3>

        <div class="row">

            {% if latest_album_list %}
            {% for album in latest_album_list %}
            <div class="col-sm-4">

  
                <ul class="list-group">
                   
                    <!-- Implementation Of Namespace -->
                    <li class="list-group-item"><a href="{% url 'music:detail' album.id %}">{{ album.album_title }}
                            <span class="text-success">Produced By</span> {{ album.artist }}
                        <br>
                        <img src="{{ album.album_logo }}" alt="Album Logo" width="300px" height="200px"></a> 
                        </li>

                   
                </ul>
                
            </div>
            {% endfor %}
            
            {% else %}
            <p>No Album List Are Available.</p>
            {% endif %}
        </div>
    </div>

    {% endblock %}